<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73133667345-p2ikmgue5kjbth8urrepnqauj2mn2ckf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73133667345-p2ikmgue5kjbth8urrepnqauj2mn2ckf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73133667345-2a2ms41bq0k859t598s7pkqdj4d03d2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3wdKeyt7CC8Abj2JhF3_v_bS3KJeINbA</string>
	<key>GCM_SENDER_ID</key>
	<string>73133667345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytbcompanion.MyTBCompanion</string>
	<key>PROJECT_ID</key>
	<string>mytbcompanion</string>
	<key>STORAGE_BUCKET</key>
	<string>mytbcompanion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73133667345:ios:9eac6c177f6a05b294edb0</string>
</dict>
</plist>